<div class="uk-card uk-card-default">
  <div class="uk-card uk-card-default uk-card-large uk-card-body"> Actual
    <!-- <div class="uk-slidenav-container">
      <a href="" uk-slidenav-previous></a>
      <a href="" uk-slidenav-next></a>
    </div>
    <button class="uk-button uk-button-default uk-button-large uk-width-1-1 uk-margin-small-bottom">Planned</button>
    <button class="uk-button uk-button-default uk-button-large uk-width-1-1 uk-margin-small-bottom">Actual</button> -->
  </div>
</div>